@font-face {
    font-family: IBMPlexSansJP;
    src: url(../fonts/IBMPlexSansJP-Bold.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-gray: #414141;
    --color-light-gray: #808080;
    --color-yellow: #EEFF00;
    --spacing-5:5px;
    --spacing-10:10px;
    --spacing-20:20px;
    --spacing-30:30px;
    --spacing-40:40px;
    --spacing-50:50px;
    --spacing-60:60px;
    --spacing-70:70px;
    --spacing-80:80px;
    --spacing-90:90px;
    --spacing-100:100px;

}

html {
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

body {
    background-color: var(--color-dark);
}

a {
    color: var(--color-light);
    text-decoration: none;
    font-family: Manrope;
    font-weight: 700;
    font-size: 13px;
    opacity: 85%;
}

a:hover {
    opacity: 100%;
}

h1 {
    font-size: 7vmin;
    text-wrap: balance;
    color: var(--color-light);
    font-family: IBMPlexSansJP;
    letter-spacing: -3px;
}

h3{
    font-size: 2.5vmin;
    text-wrap: balance;
    color: var(--color-light);
    font-family: IBMPlexSansJP;
    font-weight: 100;
}

p {
    font-size: 2.2vmin;
    color: var(--color-light);
    font-family: Manrope;
    word-spacing: 3px;
    flex-wrap: balance;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)),
    url(../images/lua-fundo-coventina2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-inline:var(--spacing-40);
    text-align: center;
}

.header-hero {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hero button {
    padding: var(--spacing-10);
    border: 2px solid var(--color-gray);
    border-radius: 20px;
    transition: .4s;
}

.header-hero button:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.header-hero img {
    width: 200px;
}


.logo-clicavel {
    opacity: 100%;
}

.menu-list {
    display: flex;
    width: 100%;
    gap: var(--spacing-60);
    flex-wrap:wrap;
}

#preto {
    background-color: var(--color-dark);
}

#cinza {
    background-color: var(--color-gray);
}
#cinza_claro {
    background-color: var(--color-light-gray);
}


.titulo-hero {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-60);
}

.titulo-hero h1 {
    font-size: 10vmin;
    animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.titulo-hero p {
    position: relative;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
    animation: typewriter 1.5s steps(25) .1s 1 normal both, blinkingCursor 500ms steps(50) infinite normal;
}

.p-titulo-hero {
    width: auto;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%}
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.container-desafio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-40);
    width: 100%;

}

.container-desafio .lua {
    width: 45%;
    animation: fade-in ease, fade-out ease;
    animation-timeline: view(), view();
    animation-range: entry, exit;
}

.foguete {
    margin-top: auto;
    width: 30px;
    animation: rocket-up 20s linear infinite;
}



@keyframes rocket-up {
    0%
    {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-100vh);
        opacity: 0;
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
        scale: .7;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: .7;
  }
}
.container-desafio .caixa-texto {
    width: 700px;
    margin-bottom: 190px;
}

.container-robo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-10);
    width: 100%;
    padding-inline: var(--spacing-100);
    backdrop-filter: blur(2px);
}

.container-robo img {
    width: 100%;
    animation: fade-in ease, fade-out ease;
    animation-timeline: view(), view();
    animation-range: entry, exit;
}

.slideshow-container {
    width: 500px;
}

.mySlides {
  width: 100%;
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container-robo .caixa-texto {
    width: 600px;
}

.container-objetivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-objetivos h1 {
    animation: glow both;
    animation-timeline: view(30%);
}

@keyframes glow {
    0% {
        text-shadow:none;
    }
    100% {
        text-shadow: 0 0 10px var(--color-yellow), 0 0 20px var(--color-yellow), 0 0 40px var(--color-yellow), 0 0 80px var(--color-yellow), 0 0 160px var(--color-yellow);
    }
}

@keyframes glow-fraco {
    0% {
        text-shadow:none;
    }
    100% {
        text-shadow:  0 0 30px var(--color-yellow);
    }
}

.grupo-objetivos {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: var(--spacing-60);
    padding-top: var(--spacing-60);
    padding-bottom: 100px;
}


.item-objetivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    width: 100%;
    margin-top: auto;
    gap: var(--spacing-10);
}

.item-objetivos img {
    width: 70%;
    margin-bottom: var(--spacing-30);
    animation: fade-in ease, fade-out ease;
    animation-timeline: view(), view();
    animation-range: entry, exit;
}

.item-objetivos .foguete-espacial {
    height: 300px;
    width: 40%;
    margin-bottom: var(--spacing-40);
}

.item-objetivos p {
    width: 100%;
}

.container-publico-alvo {
    width: 100%;
    padding-top: 150px;
    display: flex;
    backdrop-filter: blur(4px);
}

.container-publico-alvo img {
    width: 58%;
}

.grupo-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 170px;
}

.topo-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-publico-alvo .caixa-texto {
    width: 100%;
    padding-left: 100px;
}

.container-beneficios {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 150px;
}
.container-beneficios .caixa-texto {
    width: 100%;
}


.beneficios-lista li {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid var(--color-light);
    padding-block: var(--spacing-30);
    gap: var(--spacing-20);
}

.beneficios-lista i {
    color: rgb(255, 212, 59);
}

.beneficios-lista p {
    font-size: 2vmin;
}

.container-aplicacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-10);
    width: 100%;
    padding-top: var(--spacing-30);

}

.container-aplicacoes img {
    width: 30%;
    animation: fade-in ease, fade-out ease;
    animation-timeline: view(), view();
    animation-range: entry, exit;
}

.container-aplicacoes .caixa-texto {
    width: 600px;
}

.container-quiz {
    width: 80%;
    margin: 0 auto;
    background-color:  rgba(0, 0, 0, .4);
    border: 2px solid var(--color-light);
    border-radius: 15px;
    padding: var(--spacing-60);
}

.container-quiz h1 {
    padding-bottom: var(--spacing-30);
    text-align: center;
    animation: glow-fraco both;
    animation-timeline: view(30%);
}

.container-quiz button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-light);
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-size: 2.2vmin;
    font-family: Manrope;
    word-spacing: 3px;
    flex-wrap: balance;
    text-align: center;
}

.container-quiz button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.pergunta {
    margin-bottom: 20px;
    font-size: 3vmin;
    text-wrap: balance;
    color: var(--color-light);
    font-family: IBMPlexSansJP;
    font-weight: 100;
    text-align: center;

}

.opcoes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: var(--spacing-10);
    width: 50%;
}

.card-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-10);
    padding-top: var(--spacing-20);
    font-size: 2vmin;
    color: var(--color-light);
    font-family: Manrope;
    
}
.card-nome input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: var(--spacing-10);
    border: 1px solid var(--color-lighter-dark);
    border-radius: 3px;
    background-color: white;
}

.card-nome button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-10);
    height: 30px;
    width: 10%;
    border: 1px solid var(--color-lighter-dark);
    border-radius: 3px;
    background-color: white;
    font-size: 1.8vmin;
}

.card-nome button:hover{
    background-color: var(--color-dark);
    border: 2px solid var(--color-light);
}

.texto-resultado {
    font-size: 3vmin;
    text-wrap: balance;
    color: var(--color-light);
    font-family: IBMPlexSansJP;
    font-weight: 100;
    text-align: center;
    margin-bottom: var(--spacing-20);
}


footer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-30);
}

footer img {
    width: 25%;
}

.nomes-lista {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
    padding-left: var(--spacing-20);
    padding-block: var(--spacing-20);
    border-left: 2px solid var(--color-light);
}

.section-desafio {
    display: flex;
    justify-content: center;
    padding-inline: var(--spacing-50);;
} 

.section-robo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)),
    url(../images/fundo-dentro-nave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
}

.section-objetivos {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)),
    url(../images/fundo-estrelas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    display: flex;
    justify-content: center;
    padding-inline: var(--spacing-70);
}

.section-publico-alvo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)),
    url(../images/nasa-lugar.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: start;
}

.section-beneficios {
    background-image: url(../images/foguete-lua.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: end;
}

.section-aplicacoes {
    background-image: url(../images/plantação-fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    padding-inline: var(--spacing-100);
}

.section-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/lua-fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-inline: var(--spacing-100);
}

section {
    height: 110vh;
}